<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itecor Test App</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/itecor_logo.png" alt="itecor logo" class="img-logo"></a>
        </div>
        <div class="logout">
            <img src="/images/shutdown.png" alt="logout symbol" class="img-logout">
            <a href="/logout">
                <div class="logout-box" id="logout">
                    <small>Logout</small>
                </div>
            </a>
        </div>
    </header>
    <div class="office-global">
        <div class="office-container">
            <p class="office-title">Vevey Office</p>
            <div class="office-walls-vevey">
                <img src="/images/work_in_progress.png" alt="Work in progress" class="img-wip">
            </div>
            <p class="office-summary">The Vevey office is still in construction (coming soon). Please have a look a the
                <a href="/office/geneva/" class="links">Geneva
                    office!</a>
            </p>
        </div>
        <%- include('includes/footer') %>
    </div>
    <script src="/main-bundled.js"></script>
    <script src="/users-bundled.js"></script>
</body>

</html>